* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid pink; */
}

.container {
    width: 800px;
    height: 600px;
    background-color: rgb(178, 204, 233);
    margin: 0px auto;
    padding: 25px;
    border-radius: 20px;    
}

.container h1 {
    font-family: cursive;
    color: white;
    

}

.container li {
    list-style: none;
}

.login_page {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    font-size: larger;
    margin-top: 25px;
}

.login_page p {
    padding-bottom: 5px;
}

.login_page h4 {
    padding-bottom: 10px;
    margin-left: 40px;
}