* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid pink; */
}




body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("clouds.png");
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
   -webkit-font-smoothing: antialiased; 
   }


.container {
    width: 800px;
    height: 600px;
    background-color: rgb(178, 204, 233);
    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

    .container h1 {
        font-family: cursive;
        color: white;
    }

    .container li {
        list-style: none;
    }

.navigation {
    margin-left: 525px;
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 1px white
}

    .navigation a {
        padding: 3px;
        text-decoration: none;
    }

.user_info {
    display: inline-block;
    margin-left: 50px;
    padding: 5px;
}

    .user_info h2 {
        color: white;
        font-family: cursive;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;

    }

    .user_info ul {
        display: inline-block;
        vertical-align: top;
        padding: 5px;
    }

    .user_info ul h3 {
        color: white;
        font-family: cursive;
        display: inline-block
    }


    .user_info li {
        padding: 5px;
    }

.container_dashboard {
        width: 800px;
        
        background-color: rgb(178, 204, 233);
        margin: 50px auto;
        padding: 25px;
        border-radius: 20px;  
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    }
    
        .container_dashboard h1 {
            font-family: cursive;
            color: white;
        }
    
        .container_dashboard li {
            list-style: none;
        }

.dashboard {
    padding: 20px;
}
    .dashboard h3 {
        padding-bottom: 5px;
        color: white;
    }

    .dashboard form {
    padding: 10px; 
    }

    .dashboard form input {
        border-radius: 5px;
        padding: 3px;
    }

    .dashboard button {
        vertical-align: bottom;
        border-radius: 5px;
        padding: 3px;

    }

    .dashboard textarea {
        border-radius: 5px;
        padding: 3px;
    }

    .dashboard button {
        margin-left: 575px;
    }


    .events {
        /* margin-top: 15px; */
        margin-bottom: 15px;
        display: inline-block;
        width: 200px;
        vertical-align: top;
        margin-left: 85px;
        

    }
        .events li {
            margin-top: 15px;
            margin-bottom: 30px;
                        
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.267);
            border-radius: 10px;
        }

        .events ul {
            display: inline-block;
        }

        .events ul button {
            border-radius: 5px;
            padding: 3px;
        }



:placeholder-shown {
    color: gainsboro;
}




    .posts {
        /* margin-top: 15px; */
        margin-bottom: 15px;
        display: inline-block;
        width: 350px;
        vertical-align: top;
        margin-left: 50px;
        
    }
        .posts li {
            margin-top: 15px;
            margin-bottom: 30px;
            /* outline: 1px solid pink; */
            
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.267);
            border-radius: 10px;
        }
    
        .posts ul {
            display: inline-block;
            
        }
    
        .posts button {
            border-radius: 5px;
            padding: 3px;

        }

        .posts a {
            text-decoration: none;
        }
   
        .posts h5 {
            color: white;
        }
        .posts blockquote {
            padding: 8px;
        }


    .post-details {
        margin-top: 5px;
        margin-bottom: 15px;
        display: inline-block;
        width: 300px;
        vertical-align: top;
        margin-left: 50px;
    
    }
    
        .post-details ul {
            display: inline-block;
        }
    
        .post-details button {
            border-radius: 5px;
            padding: 3px;
        }

        .post-details a {
            text-decoration: none;
        }
   
        .post-details h5 {
            color: white;
        }

    