* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid pink; */
}




body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("clouds.png");
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
   -webkit-font-smoothing: antialiased; 
   }


.container {
    width: 800px;
    background-color: rgb(178, 204, 233);
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

    .container h1 {
        font-family: cursive;
        color: white;
    }

    .container li {
        list-style: none;
    }

.navigation {
    margin-left: 525px;
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 1px white
}

    .navigation a {
        padding: 3px;
        text-decoration: none;
    }

    .eventpost {
        /* margin-top: 15px; */
        margin-bottom: 30px;
        display: inline-block;
        width: 350px;
        /* vertical-align: top; */
        margin-left: 50px;
        
    }
        .eventpost li {
            margin-top: 15px;
            margin-bottom: 30px;
            /* outline: 1px solid pink; */
            
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.267);
            border-radius: 10px;
        }
    
        /* .eventpost ul {
            display: inline-block;
            
        } */
    
        .eventpost button {
            border-radius: 5px;
            padding: 3px;

        }

        .eventpost a {
            text-decoration: none;
        }
   
        .eventpost h5 {
            color: white;
        }
        .event-post blockquote {
            padding: 8px;
        }

        .eventpost h3 {
            color: white;
        }



    .comments {
        display: inline-block;
        padding: 15px;
        width: 400px;
    }

    .comments ul {
        margin-top: 8px;
    }

    .comments li {
        margin-bottom: 15px;
    }

    .edit {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        margin-left: 100px;
        font-size: 12px;
    }
