<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_profile.css') }}">
    <title>All Neighbors</title>
</head>
<body>
    <div class="container">
        <h1>Neighborly</h1>
        <div class="navigation">
            <a href="/dashboard">Dashboard</a>
            <a href="/my_profile">My Profile</a>
            <a href="/logout">Logout</a>
            <a href="/all_users">Neighbors</a>
        </div>
        <div class="neighbors">
            <table>
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Total Posts: </th>
                        <th>Total Events:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in all_users %}
                    <tr>
                        <td><a href="/neighbors/profile/{{user.id}}">{{user.full_name}}</a></td>
                        <td>{{user.num_posts}}</td>
                        <td>{{user.num_events}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>