<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>Event Details</title>
</head>
<body>
    <div class="container">
        <h1>Neighborly</h1>
        <div class="navigation">
            <a href="/dashboard">Dashboard</a>
            <a href="/my_profile">Profile</a>
            <a href="/logout">Logout</a>
            
        </div>
        <div class="events">  
            <ul>
                {% for event in all_events %}
                <li>
                    <p>{{event.title}}</p>
                    <p>{{event.description}}</p>
                    <h5>hosted by: <a href="/neighbors/profile/{{event.user.id}}"> hosted by: {{event.user.first_name}} {{event.user.last_name}}</a></h5>
                    <p>On: {{event.date}} {{event.time}}</p>
                </li>
                {% endfor %}
            </ul>

        </div>
        {% for event in all_events %}
        <form action="/add/event_comment/{{event.id}}", method="POST">
            <p><textarea name="message" placeholder="Add a message"></textarea></p>
            <input type="submit" value="Post">
        </form>
        {% endfor %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <hr>
        <ul>
            {% for comment in all_comments %}
            <li>{{comment.user.first_name}} wrote:</li>
            <li>{{comment.message}}</li>
            {% endfor %}
        </ul>
        <div class="events">
            {% for event in all_events %}
                {% if session['user_id'] == event.user_id %}
                    <h3>Edit your event: </h3>
                    <form action="/update/event/{{event.id}}" method="POST">
                        <p>Title: <input type="text" name="title" value="{{event.title}}"></p>
                        <p>Description: <textarea name="description">{{ event.description }}</textarea></p>
                        <p>Date: <input type="date" name="date" value="{{event.date}}"></p>
                        <p>Time: <input type="time" name="time" value="{{event.time}}"></p>
                        <input type="submit" value="Update">                    
                    </form>
                    <br>
                    <h3><a href="/delete/event/{{event.id}}"><button>Delete Event</button></a></h3>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>