<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_event_details.css') }}">
    <title>Event Details</title>
</head>
<body>
    <div class="container">
        <h1>Neighborly</h1>
        <div class="navigation">
            <a href="/dashboard">Dashboard</a>
            <a href="/my_profile">My Profile</a>
            <a href="/logout">Logout</a>
            <a href="/all_users">Neighbors</a>
        </div>
        <div class="eventpost">  
            <ul>
                {% for event in all_events %}
                <h4>{{event.title}} <span>details:</span></h4>
                <li>
                    <blockquote>{{event.description}}</blockquote> <br>
                    <p><h5>Where:</h5>{{event.location.full_address}}</p>
                    <p><h5>When:</h5> {{event.date}} @ {{event.time}}</p>
                </li>
                <h5>hosted by: <a href="/neighbors/profile/{{event.user.id}}"> {{event.user.first_name}} {{event.user.last_name}}</a></h5>
                {% endfor %}
            </ul>

        </div>
        <div class="addcomment">
            {% for event in all_events %}
                <form action="/add/event_comment/{{event.id}}", method="POST">
                    <p><textarea name="message"  cols="45" rows="3" placeholder="Add a message"></textarea></p>
                    <input type="submit" value="Post">
                </form>
            {% endfor %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="comments">
            <h4>Comments:</h4>
            <ul>
                {% for comment in all_comments %}
                <li>{{comment.user.first_name}} wrote: {{comment.message}}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="edit">
            {% for event in all_events %}
                {% if session['user_id'] == event.user_id %}
                    <h3>Edit event details: </h3>
                    <form action="/update/event/{{event.id}}" method="POST">
                        <p>Title: <input type="text" name="title"></p>
                        <p>Description: <input type="text" name="description" ></p>
                        <p>Date: <input type="date" name="date" ></p>
                        <p>Time: <input type="time" name="time"></p>
                        <p>Address: <input type="text" name="address"></p>
                        <p>City: <input type="text" name="city" ></p>
                        <p>State: <input type="text" name="state" ></p>
                        <p>Zipcode: <input type="text" name="zipcode"></p>
                        <input type="submit" value="Update">                    
                    </form>
                    <hr>
                    <h3><a href="/delete/event/{{event.id}}"><button>Delete Event</button></a></h3>
                {% endif %}
            {% endfor %}
     
        </div>
        <div class="bottom">
        <h4>Scroll down for Google Maps!</h4>
        </div>
    </div>
    {%for event in all_events %}
    <div id="floating-panel">
        <input id="address" type="textbox" value="{{event.location.ret_address}} , {{event.location.ret_city}}">
        <input id="submit" type="button" value="Geocode">
      </div>
    {% endfor %}
    <div id="map"></div>
        <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {lat: -34.397, lng: 150.644}
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
            });
        }
        </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMv_wfVuJsWc2xJf4UjhVofHMsnYHc6ZM&callback=initMap">
    </script>
</body>
</html>