<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Neighborly: Log In & Register</title>
</head>
<body>
    <div class="container">
            <h1>Neighborly</h1>   
        <div class="login_page">
            <h4>Welcome Back!</h4>
            <form action="/login" method="POST">
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <input type="submit" value="Login">
            </form>
            <a href="/register">Not a member? Register</a>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

</body>
</html>