<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>Likes</title>
</head>
<body>
    <div class="container_dashboard">
        <h1>Neighborly</h1>
        <div class="navigation">
            <a href="/dashboard">Dashboard</a>
            <a href="/user_profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
        {% for post in all_posts %}
            <p><h5>{{post.user.first_name}} says:</h5></p> 
            <p>{{post.message}}</p>
            <h4>People who liked this post:</h4>
            <p>{{post.users_who_like_this_post}}</p>
        {% endfor %}



        

    </div>
</body>
</html>