<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_profile.css') }}">
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <h1>Neighborly</h1>
        <div class="navigation">
            <a href="/dashboard">Dashboard</a>
            <a href="/my_profile">My Profile</a>
            <a href="/logout">Logout</a>
            <a href="/all_users">Neighbors</a>
        </div>
        <div class="user_info">
            {% for user in all_users %}
                <h2>{{user.first_name}}'s Profile</h2>
                <ul>
                    <li>{{user.first_name}} {{user.last_name}}
                        <p>{{user.email}}</p> 
                    </li> 
                </ul> 
            {% endfor %}
            <div class="about_me">
                {% for user in all_users %}
                    {% if user.about_me == None %}
                        
                    {% else %}
                        <h4>About me:</h4>
                        <blockquote>
                            {{user.about_me}}
                        </blockquote>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="user_info"> 
            <ul>
                <li><h3>Posts</h3></li>
                {% for post in all_posts %}
                    <li><a href="/post/details/{{post.id}}">{{post.message}}</a>
                        <p>posted: {{post.created_at}} </p>
                    </li>
                {% endfor %} 

                <li><h3>Events</h3></li>
                {% for event in all_events %}
                    <li><a href="/event/details/{{event.id}}">{{event.title}}</a>
                        <p>posted: {{event.created_at}}</p>
                    </li>
                {% endfor %} 
       
            </ul>
        </div>
    </div>
</body>
</html>