<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Neighborly: Log In & Register</title>
</head>

<body>
    <div class="container">
        <h1>Neighborly</h1> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="register">
            <h3>Register for Neighborly!</h3><br>
            <form action="/process/user" method='POST'>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="fname">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" name="fname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="lname">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" name="lname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control form-control-sm" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="address">Address:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" name="address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="city">City:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" name="city">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="state">State:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" name="state">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="zipcode">Zipcode:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" name="zipcode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="password">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control form-control-sm" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="cpassword">Confirm Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control form-control-sm" name="cpassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2"></div>
                    <div class="col-sm-10">
                        <a href="/">Back to log in</a>
                        <input type="submit" class="btn btn-primary" value="Register">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>