<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <h1>Neighborly</h1>
        <div class="navigation">
            <a href="/dashboard">Messages</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="user_info">
            {% for cur_user in all_users %}
            <h2>{{cur_user.first_name}}'s Profile</h2>
            {% endfor %}
            <ul>
                {% for cur_user in all_users %}
                <li>{{cur_user.first_name}} {{cur_user.last_name}}
                    <p>{{cur_user.email}}</p> 
                </li>
                {% endfor %}
            </ul> 
        </div>
        <div class="user_info"> 
            <ul>
                <li><h3>Posts</h3></li>
                {% for history in all_posts %}
                <li>*{{history.message}}
                    <p>~posted: {{history.created_at}} </p>
                </li>
                {% endfor %} 
                <li><h3>Events</h3></li>
                {% for history in all_events %}
                <li>*{{history.title}}
                    <p>~posted: {{history.created_at}}</p>
                </li>
                {% endfor %}        
            </ul>
        </div>
    </div>
</body>
</html>